.short {
    &_video {
        margin-top: 70px;

        &_inview {
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100vh;
            &--player {
                div {
                    iframe {
                        height: 100vh;
                    }
                }
            }
            &--icon{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-left: 10px;
                button{
                    border: none;
                    width: 30px;
                    height: 30px;
                    svg{
                        font-size: 30px;
                    }
                }
            }

        }
    }
}