@import '../../../index.scss';

.video {
margin-top: 70px;
    iframe {
        height: 400px;
    }

    p {
        color: $color-titleparent ;
        font-weight: 500;
    }

    &_author {
        justify-content: space-between;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        &--icon {
            align-items: center;

            p {
                margin: 0 20px;
                color: $color-titleparent ;

                span {
                    color: $color-titlechild;
                    font-size: 15px;
                }
            }

            button {
                width: 100px;
                height: 40px;
                outline: none;
                border: none;
                border-radius: 20px;
                background-color: rgb(199, 49, 49);
                color: white;
            }
        }

        &--like {

            width: 150px;
            border-radius: 10px;
            justify-content: center;

            svg {
                font-size: 30px;
            }

            p {

                display: flex;
                margin-top: 20px;
                align-items: self-end;

                &:nth-child(1) {
                    margin-right: 10px;
                    margin-top: 18px;
                    align-items: center;

                    span {
                        margin-top: 3px;
                    }
                }

                span {
                    font-size: 20px;
                    margin-top: 10px;
                }

            }
        }
    }

    &_description {
        margin-bottom: 20px;

        span {
            font-size: 15px;
        }
    }
}

@media (max-width:$breakpoints-lg) {
    .video {

        iframe {
            height: 400px;

        }

        p {
            font-size: 10px;
            span {
                font-size: 10px;
            }
        }

        &_author {
            &--icon {
                p {
                    display: block;
                    width: 100%;
                    margin: 0;
                    span {
                        font-size: 10px;
                    }
                }
                button{
                    width: 150px;
                    margin-left: -40px;
                }
                
            }
            &--like {
    
                svg {
                    font-size: 20px;
                }
            }
        }
        &_description {
            span {
                font-size: 10px;
            }
        }
    }
}

@media (max-width:$breakpoints-small) {
    .video {

        iframe {
            height: 200px;

        }

     
    }
}