@import '../../index.scss';

.channel {
    padding: 0 10px;

    &_banner {
        width: 100%;
        height: 300px;
        margin-top: 70px;
        margin-bottom: 150px;
        background: linear-gradient(90deg, rgb(0, 238, 247) 0%, rgb(206, 3, 184) 100%, rgb(0, 212, 255) 100%);
        position: relative;

        div {
            position: absolute;
            bottom: -30%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            img {

                border-radius: 50%;
            }

            p {
                margin-left: -10px;
                margin-bottom: 0;
                align-items: center;
            }

        }
    }

    &_category {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        a {
            text-decoration: none;
            color: black;
            font-weight: 600;
        }
    }
}

@media (max-width:1439px) {
    .channel {
        grid-template-columns: repeat(3, 1fr);

       
    }
}

@media (max-width:$breakpoints-lg) {
    .channel {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:$breakpoints-small) {
    .channel {

       

        &_category {
            grid-template-columns: repeat(1, 1fr);

            p {
                font-size: 13px;
            }


        }
    }
}