.login {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    padding: 20px;

    &_form {

        h1 {
            margin: 10px 0;
            text-align: center;
        }
        &--icon{
            position: relative;

            svg{
                position: absolute;
                right: 5%;
                top: 18%;
                font-size: 20px;
            }
        }
        input {
            height: 35px;
            margin-bottom: 20px;
            outline: none;
            border: 1px solid #48bfe3;
            padding: 0 10px;
            width: 100%;
            border-radius: 10px;
        }

        button {
            width: 100%;
            height: 35px;
            border-radius: 5px;
            border: none;
            background-color: #4ea8de;
            margin: 10px 0;
            color: white;
        }
        span{
            color: red;
            margin-top: -15px;
            display: block;
            &:nth-child(1){
                margin-bottom: 10px;
                display: block;
            }
        }
    }

    &_google {
        button {
            width: 100%;
            height: 35px;
            background-color: white;
            border: 1px solid #e9ecef;
            border-radius: 5px;
            margin: 10px 0;
        }
    }

    &_gignup {
        font-size: 15px;
        text-align: center;
    }
}

a {
    text-decoration: none !important;
    color: #7400b8 !important;
}

@media (max-width:767px) {
    .login {
        width: 100%;
        height: 100vh;
    }
}