@import '../index.scss';

.homepage {
    width: 100%;

    &_homevideo {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 0 20px;
    }

    &_category {
        margin-top: 70px !important;
        margin-bottom: 20px !important;
        overflow: hidden;
        display: flex;
        width: 100%;
        overflow-x: scroll !important;
        &::-webkit-scrollbar{
            width: 0px;
        }
        cursor: pointer;

        &_content {
            margin-left: 10px;
            padding: 3px 10px;
            border-radius: 5px;
            margin-top: 10px;
            background-color: rgb(242 242 242);
            color: black;
        }

        &_active {
            background-color: black;
            color: white;
            margin-left: 10px;
            padding: 3px 10px;
            border-radius: 5px;
            margin-top: 10px;
        }

        p {
            display: block;
            padding: 5px 10px;
            margin-right: 10px;
            white-space: nowrap
        }
    }
}

@media (max-width:$breakpoint-medium) {
    .homepage {
        &_homevideo {
            grid-template-columns: repeat(2, 1fr);

        }

    }

}

@media (max-width:$breakpoints-small) {
    .homepage {
        padding: 0;

        &_homevideo {
            grid-template-columns: repeat(1, 1fr);

        }
    }

}